@page
@model RecruitCatBechmanaAssignment.Pages.Titles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Titles</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title[0].MinSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title[0].MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title[0].MedianSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Title) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedianSalary)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TitleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TitleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TitleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
